*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.Nawbar{
    width: 100%;
    height: 15vh;
    background-color: #232536;
}
.Nawbar-flex{
    width: 1600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 7%;
}
.Nawbar-Logo{
    width: 280px;
}
.Link-color{
    text-decoration: none;
    color: white;
    font-size: 33px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Nawbar-Link-flex{
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 500px;
}