*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Business{
    width: 100%;
    height: 355vh;
    background-color: whitesmoke;
}
.Business-card{
    text-align: center;
    
}
.Business-card>h1{
    color: rgba(35, 37, 54, 1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 60px;
}
.Business-card>h1{
    color: rgba(35, 37, 54, 1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 70px;
    padding-top: 100px;
}
.Business-card>h2{
    color: rgba(109, 110, 118, 1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    margin-top: 40px;
    font-size: 35px;
}
.Business-card>h3{
    color: rgb(10, 11, 18);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    margin-top: 30px;
    font-size: 25px;
}
.Card5{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2.7%;
    margin-left: 3%;
}
.Box-Shadow{
    width: 65%;
    height: 50vh;
    border-radius: 20px;
    background-color: rgba(35, 37, 54, 1);
    box-shadow: 0px 0px 40px rgba(35, 37, 54, 1);
    margin-top: 6%;
    margin-left: 18%;
}
.img-business{
    width: 400px;
    border-radius: 10px;
}
.Business-write>p{
    color: rgb(146, 98, 236);
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
.Business-write>h1{
    color: whitesmoke;
    font-size: 45px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    margin-top: 30px;
}
.Business-write>h4{
    color: whitesmoke;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    margin-top: 30px;
}
.Categoriy>p{
    font-size: 60px;
    color: rgba(35, 37, 54, 1);
    font-weight: 700;
    text-align: center;
    margin-top: 7%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cards-business{
    width: 370px;
    height: 15vh;
    background-color: rgba(35, 37, 54, 1);
    border-radius: 10px;
    margin-top: 33px;
}
.cards-business>img{
    width: 80px;
}
.cards-business>p{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: 500;
}
.Flex-img-p1{
    width: 210px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 43px;
    margin-left: 30px;
}
.Flex-img-p1>p{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: 500;
}
.Flex-img-p2{
    width: 230px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 43px;
    margin-left: 30px;
}
.Flex-img-p2>p{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: 500;
}
.Flex-img-p4{
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 43px;
    margin-left: 30px;
}
.Flex-img-p4>p{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: 500;
}
.Flex-img-p3{
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 43px;
    margin-left: 30px;
}
.Flex-img-p3>p{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: 500;
}
.img-png-business{
    width: 330px;
    margin-top: 50px;
    margin-left: 13px;
}
.Business-flex-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Category-flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 80px;
}